#mainContainer {
    -fx-background-color : #FEE715FF;
    -fx-border-color: #101820FF;
}

#splitContainer {
    -fx-background-color : #101820FF;
    -fx-border-color: #101820FF;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.check-box {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.slider .axis {
    -fx-tick-label-fill: white;
}

.table-view .column-header .label {
    -fx-text-fill:  #101820FF;
    -fx-font-weight: bold;
}

.split-pane-divider {
    -fx-background-color: #37474F;
}